 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Form Submit Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninja.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="ninja.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div id="content_ninja">
            <h1>No Ninjas Here</h1>
            <input type="button" onclick="location.href='/ninja';" value="Find Your Ninja Friend"/>
            <!-- <button href="/ninja">Find your ninja friends!</button> -->
            <!-- <a href="/ninja">Find your ninja friends!</a> -->
        </div>
    </body>
</html>