<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Your Selected Ninja</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="ninja.js"></script>
        <script type="text/javascript"></script>
    </head>
    <body>
        <img src="static/img/donatello.jpg" alt="Donatello" id="purple">
        <img src="static/img/leonardo.jpg" alt="Leonardo" id="blue">
        <img src="static/img/michelangelo.jpg" alt="Michelangelo" id="orange">
        <img src="static/img/raphael.jpg" alt="Raphael" id="red">
        <img src="static/img/notapril.jpg" alt="April" id="april">
    </body>
</html>