<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='survey.css') }}">
        <title>DOJO Survery</title>
    </head>
    <body>
        <div id="wrapper">
            <div class="body">
                <form action="/survey" method="POST">
                    Your Name: <input type="text" name="name"><br></br>
                    Dojo Location: <select name="location"><br></br>
                        <option value="San Jose"> San Jose</option>
                        <option value="Chicago"> Chicago</option>
                        <option value="San Fran"> San Fran</option>
                    </select><br></br>
                    Favorite Language: <select name="language">
                        <option value="San Jose"> Python</option>
                        <option value="Chicago"> Ruby</option>
                        <option value="San Fran"> Mean</option>
                    </select><br></br>
                    Comments:(optional)<br></br>
                        <textarea name="comments"rows="4" cols="50"></textarea><br></br>
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>