<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <div class="form">
        <form action="/results" method="post" id="survey">
            {% csrf_token %}
            Name:<input type="text" name="name"><br> 
            Dojo Location <select name="location" form="survey">
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="New York">New York</option>
            </select><br> 
            Favorite Language:<select name="language" form="survey">
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
            </select><br> 
            Comments:<br>
            <textarea name="comment" id="survey" cols="30" rows="10"> </textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>